SHEETY_API_URL=https://api.sheety.co/88600ed0be509b11ffce67b0442a1e12/membrosLawd/mapeamento
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
